*{
  box-sizing:border-box
}

.center{
  margin-top: 109px;
  text-align: center;
}

.logo{
  position: relative;
  padding-top: 109px;
} 
    
.searchbox{ 
  position: relative;
  margin: 20px;
}

.searchbox input{ 
  width: 500px; 
  height: 30px;
}

.search-buttons{ 
  margin: 20px;
}




    